body {
    margin: 0;
    font-family: -apple-system, Raleway;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(244, 248, 250);
}

code {
    font-family: Raleway,
    monospace;
}

/** {
    border: 1px solid red;
}*/

img {
    height: 40px !important;
}

h2 {
    margin: 0px !important;
}

.MuiContainer-root {
    padding-top: 2%;
    padding-bottom: 2%;
}
